@media (max-width: 768px) {
    .nav-list{
        display: none;
    }

    .logo {
        display: block;
        position: static;
    }
    .about-title {
        flex-wrap: wrap;
    }

    .nav.open .nav-list {
        
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: 100;
        padding: 46px 30px; 
        display: flex; 
        flex-direction: column;
        row-gap: 40px;
        font-size: 34px;
        font-weight: 600;
    }

    .logo {
        position: fixed;
        z-index: 9999;
        right: 20px;
        top: 50px;
    }
    .contact-img {
        display: none;
    }
    .contact-form{
        margin: 0 auto;
        padding-bottom: 40px;
    }
    .product-img {
    margin: 0 20px
    }

    .header-row {
        margin-top:0px;
    }
    .about-title img {
        display: none;
    }

    .about-row {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .header-heading {
        font-size: 30px;
    }

    .about-heading {
        font-size: 30px;
    }


    .header-content {
        flex-basis: 100%;
        order: 2;
        text-align: center;
        margin-bottom: 30px;
        text-align: center;
      }

      .header-content p {
        margin: 20px auto;
      }
    

    .header-image {
       order: 1;
    }

    .section-line {
        margin-top: 50px;
    }

    .production-content {
        margin-top: 35px;
    }
    .production-title {
        margin-top: 0;
    }
    .production-img {
        margin: 0 20px;
    }
}

@media (max-width: 1180px) and (min-width: 768px) {
    .header-nav {
        justify-content: center;
    }
    .about-row {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .about-title img {
        display: none;
    }

    
    .contact-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact-form {
        margin: 0 auto;
        padding-bottom: 40px;
    }
    .contact-form form {
        max-width: 400px;
    }
    
    .production-title {
        margin: 0;
    }

    .production-content {
        margin-top: 35px;
    }

}

@media (max-width: 460px) {
    .production-content {
        display: block;
    }
    .header-image {
        /* display: none; */
    }

    
}